*
!api/
!api/Cargo.toml
!api/Cargo.lock
!api/diesel.toml
!api/src/
!api/src/**
!api/migrations/
!api/migrations/**

!ui/
!ui/package.json
!ui/package-lock.json
!ui/index.html
!ui/vite.config.ts
!ui/tsconfig.json
!ui/tsconfig.app.json
!ui/tsconfig.node.json
!ui/eslint.config.js
!ui/public/
!ui/public/**
!ui/src/
!ui/src/**
!ui/nginx.conf

api/target
ui/node_modules
ui/dist
