:root {
  padding: 0.6rem;
}

.p-button {
  border-radius: 6px;
}

.p-datatable .p-datatable-tbody > tr {
  border-bottom: 1px solid var(--surface-border);
}

.p-datatable .p-datatable-thead > tr > th {
  border-bottom: 1px solid var(--surface-border);
}

.p-datatable .p-paginator-bottom {
  border-width: 0;
}
